<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsp.starringharsh.voting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhoneAuthActivity"
            android:label="N.V.S.P."
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vote"
            android:label="Cast Vote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowResults"
            android:label="Results"
            android:screenOrientation="portrait" />
        <activity android:name=".GoogleSignInActivity"></activity>
    </application>

</manifest>